.Option {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    padding: 10px 12px;
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.Option_disabled {
    background-color: red;
}

.Option__spoilerSummary > .Option {
    padding: 0;
}

.Option__spoilerSummary {
    padding: 10px 12px 10px var(--parent-option-padding);
}

.Option:hover,
.Option__spoilerSummary:hover,
.Option__spoilerSummary:hover .Option {
    background-color: #FAFAFA;
}

.Option.Option_selected,
.Option__spoilerSummary.Option__spoilerSummary_selected {
    background-color: var(--primary-color);
    color: #fff;
}

.Option.Option_selected.Option_isMultiSelect,
.Option__spoilerSummary.Option__spoilerSummary_isMultiSelect.Option__spoilerSummary_selected{
    color: #000;
}

.Option.Option_selected.Option_isMultiSelect:hover,
.Option__spoilerSummary.Option__spoilerSummary_isMultiSelect.Option__spoilerSummary_selected:hover,
.Option__spoilerSummary.Option__spoilerSummary_isMultiSelect.Option__spoilerSummary_selected:hover .Option.Option_selected.Option_isMultiSelect{
    background-color: #FAFAFA;
}

.Option__spoilerContent {
    --option-padding: calc(var(--parent-option-padding) + 20px);
}

.Option__spoiler {
    --parent-option-padding: var(--option-padding);

    width: 100%;
}

.Option_withTreePadding, .Option__checkbox_withTreePadding {
    padding-left: calc(var(--option-padding) + 20px);
}
