.Input {
    width: 100%;
    padding: 12px;
    resize: none;
    transition: border-color 0.15s ease-in-out;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 8px;
}

.Input__input {
    line-height: 16px;
    border: none;
    outline: none;
}

.Input:hover {
    border-color: var(--hover-border-color);
}

.Input:has(> .Input__input:focus) {
    border-color: var(--primary-color);
}

.Input:has(> .Input__input:disabled) {
    pointer-events: none;
    background-color: var(--border-color);
    color: var(--help-text-color);
}

.Input_invalid,
.Input_invalid:hover {
    border-color: var(--error-color);
}

.Input__input[type="number"]::-webkit-outer-spin-button,
.Input__input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.Input__input[type="number"] {
    appearance: textfield;
}

.Input__input::placeholder {
    color: var(--help-text-color);
}
