@import url("normilize.css");
@import url("variables.css");
@import url("fonts.css");

* {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
}

body, #root {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    text-decoration: none;
}
